@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Handlee|Kalam&display=swap);

@import url(component/container.css);
@import url(component/avatar.css);
@import url(component/butoon.css);
@import url(component/banner.css);
@import url(component/card.css);

body {
	font-family: 'Kalam', cursive;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Handlee', cursive;
	font-weight: bold;
}
